:root{
    --gray:#A3ABB2;
    --BW:#00000033;
    --gris :#3D3D3D;
    --back: #0C151D;
    --plomo:#171F26;
    --celeste:#3E64AA;
    --yellow:#FFE071;
    --white:#FFFFFF;
    --black:#000000;
    --letra:#F1F2F4;
    --sm: 14px;
    --md: 20px;
    --lg: 60px;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--back);
}
.main{
    height: 1500px;

}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 40px;
    margin-top: 40px;
}
.perfil{
    display: flex;
    flex-direction: row;
}
.perfil img{
    width: 192px;
    height: 192px;
    border-radius: 192px;
}
.name{
    color: var(--letra);
}
.name p{
    margin-top: -20px;
}
.redes{
    display: flex;
    flex-direction: row;
    gap: 26px;

}
.name-logo{
    display: flex;
    flex-direction: column;
}

.datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.datos-cont{
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding: 20px 2px;
}
.datos p{
    color: var(--letra);
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 38px;
    margin: 20px;
}
.first-b{
    font-size: 22px;
    width: 290px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--yellow);
    color: var(--gris);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.second-b{
    font-size: 22px;
    width: 290px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--plomo);
    color: var(--gray);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ficha{
    background-color: var(--plomo);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px;
    padding: 30px;
    border-radius: 20px;
    width: min-content;
    margin-left: 270px;
}
.port{
    background-color: var(--back);
    width: 349.595px;
    height: 80px;
    border-radius: 10px;
    border: none;
    color: var(--gray);
    font-size: 22px;
}
.skills{
width: 382.37px;
    background: none;
    border: none;
    color: #A3ABB2;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
}

.galeria{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    gap: 32px;
    margin-left: 280px;
    margin-right: 280px;
}
.cand{
    background-image: url(assets/images/Rectangle\ 1.png);
    width: 362px;
    height: 226px;
    text-align: center;
}
.cand button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fond{
    background-image: url(assets/icons/Ellipse\ 3.svg);
    border-radius: 20px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:160px ;

}
.card{
    width: 362px;
    height: 226px;
    border-radius: 15px;
}

@media(max-width: 768px){
    .main{
        height: 2200px;
    }
    .profile{
        flex-direction: column;
        margin-left: 150px;
    }
    .name {
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .ficha{
        margin-left: 10px;
        width: 100%;
    }
    .buttons{
        width: 100%;
        margin-left: 45px;
    }
    .first-b{
        width: 120%;
    }
    .second-b{
        width: 400px;
    }
    .datos{
        width: 100%;
        margin-left:45px;
    }
    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 250px;
    }
}